# Ignore everything
/*

# But not these files
!.gitignore
!README.md
!HELPME.md
!shell.nix
!apply.sh

# Include these
!home-manager/
!modules/
!nixos/
!nixpkgs/
!devshell/
!Showcase_images/
!.p10k.zsh
